//some of global
$globall-color: #F4F6F6;

//text colors
$light-text-color: #fff;
$text-lowContrast: #5D6D7E;	
$text-dark-color: #111;;	
$text-attention-color: #ff4d4d95;	
$text-heading-color: #ab9400;
$paragraph-bg: #fff9e6;

//background colors
$light-bg-color: #fff;
$dark-bg-color: #111;
$primary-background: #00c3ff;
$flag_background: #faebd7;
$smooth-background: #d7d7d7;
$main-wrapper: #faf4c2;
$secondary-bg-card-smooth:#e0e0e04d; 

//border colors
$dark-border-color: #222;
$primary-border-color: #222222;

//link colors
$link-color: #0088ff;